# Backend API URL
BACKEND_URL=http://localhost:8000

# Mobile integration
MOBILE_APP_URL=http://192.168.1.4:58766
ALERT_API_PORT=58766

# AI Thresholds
FIRE_THRESHOLD=0.5
SMOKE_THRESHOLD=0.6
PROCESS_EVERY_N_FRAMES=2
NIGHT_MODE_ENABLED=True
TEMPORAL_CHECK_ENABLED=True
